regresion-and-classification/w1/labs/.ipynb_checkpoints
regresion-and-classification/w2/labs/.ipynb_checkpoints
regresion-and-classification/w3/labs/.ipynb_checkpoints/
regresion-and-classification/w1/labs/__pycache__/
